@font-face {
    font-family: shadows_into_light;
    src: url(fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}
@font-face {
    font-family: architects_daughter;
    src: url(fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf)
}


body {
    background-color: #BBA0B2;
    margin: 0px;
    color: #832161;
}

h1 {
    font-family: shadows_into_light;
    font-size: 40px;
}

h2 {
    font-family: shadows_into_light;
    font-size: 40px;
}

p {
    font-family: architects_daughter;
    font-size: 20px;
    font-weight: 400;
}

header {
    background-color: #832161;
    overflow: hidden;
    padding: 10px;
    display: flex;
}

main {
    width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
}

footer {
    background-color: #832161;
    padding: 10px;
    position: relative;
}

a {
    color: #8cabbe;
    text-decoration: none;
}

.name {
    top: 45px;
    font-size: 30px;
    font-family: shadows_into_light;

}
.logobox {
    flex: 1; text-align: center; 
}

.logo { 
    margin: auto;
    vertical-align:top;/* here */
    max-width: 100%;
    max-height: 80px;
}

.menu {
    background-color: #832161;
    right: 0px;
    top: 30px;
    border-radius: 20px;
    z-index: 99;
    margin-left: auto;
}

.menu button {
    background-color: #832161;
    margin: 10px;
    border: 0px;
    color: #8cabbe;
    font-size: 42px;
    display: block;
    margin: auto;
    margin-right: 10px;
    cursor: pointer;
}

.menu ul {
    list-style: none;
    margin: 10px;
    padding-right: 50px;
    padding-left: 5px;
    display: none;
}

.menu ul li a {
    padding: 40px;
    margin-left: 5px;
    display: block;
    font-size: 20px;
    font-family: shadows_into_light;
    font-size: 30px;
}

.menu .show-menu {
    display: block;
    background-color: #832161;
    position: absolute;
    left: 65%;
}

.headline {
    text-align: center;
    font-family: shadows_into_light;
    font-size: 40px;
}

main {
    text-align: center;
}

.portrait {
    width: 50%;
}

.break {
    width: 80%;
}

.card {
    color: #26547c;
    font-size: large;
    background-color: #ffeeee;
    border: 5px solid #832161;
    padding: 20px;
    padding-top: 15px;
    text-align: left;
    border-radius: 20px;
    margin: 20px;
    margin-top: 20px;
}

.find-me {
    display: block;
    font-size: 25px;
    font-family: shadows_into_light;
    color: #8cabbe;
}

.social-link {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 10px;
}

.copyright {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #8cabbe;
}

.apps {
    margin: auto;
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto auto;
    justify-items: center;
    width: 500px;
    height: 500px;
}

.apps img {
    width: 100px;
}

.contact-info {
    padding: 0;
    width: 95%;
    margin:auto;
}

.info {
    font-size: 40px;
    font-family: architects_daughter;
    list-style: none;
    text-align: left;
}

.icon-phone {
    vertical-align: middle;
    margin: 10px;
    width: 50px;
}

.icon-mail {
    vertical-align: middle;
    margin: 10px;
    width: 50px;
}

.mail {
    color: #26547c;
}

.text-box {
    display: block;
    background-color: #ffeeee;
    border: 15px solid #ffeeee;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    margin-left: 0px;
    box-sizing: border-box;
}

.text-box-besked {
    display: block;
    background-color: #ffeeee;
    border: 10px solid #ffeeee;
    border-radius: 10px;
    height: 150px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    margin: 10px;
    padding: 10px 20px;
    background-color: #ffeeee;
    color: #4a4a5c;
    border: none;
    border-bottom: 2px solid #4a4a5c;
    border-right: 2px solid #4a4a5c;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: crimsonpro;
}

.description {
    text-align: left;
    margin: 20px;
    align-content: center;
}

.card-portfolio__description {
    text-align: left;
    width: 80%;
    display: inline-block;
}

.card-portfolios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-portfolio {
    color: #26547c;
    font-size: large;
    background-color: #ffeeee;
    border: 5px solid #832161;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 20px;
    border-radius: 20px;
    width: 300px;
    margin: 30px;
}

.card1 .produkt {
    align-content: center;
}

.produkt {
    width: 80%;
}
.produkt-animation {
    width: 250px;
    height: 250px;
    background: url('images/animation.png') 0 0 no-repeat;
    animation: play 5s steps(8) infinite;
}
@keyframes play {
    0%{background-position:0px;}
    100% {background-position: -2000px;}
}