@charset "UTF-8";
/*this is a css file*/
/* Præsenationsportfolio */

body {
    background-color: #BBA0B2;
    margin: 0px;
    color: #832161;
}

header {
    background-color: #832161;
    overflow: hidden;
    padding: 10px;
}

footer {
    background-color: #832161;
    padding: 10px;
    position: relative;
}

a {
    color: #8CABBE;
    text-decoration: none;
}
.name {
    position: absolute;
    top: 45px;
    font-size: 20px;
}

.logo {
    width: 80px;
    height: 80px;
    margin: auto;
    display: block;
}

.menu {
    background-color: #832161;
    position: absolute;
    right: 0px;
    top: 30px;
    border-radius: 20px;
}

.menu button {
    background-color: #832161;
    margin: 10px;
    border: 0px;
    color: #8CABBE;
    font-size: 42px;
    display: block;
    margin: auto;
    margin-right: 10px;
    cursor: pointer;
}

.card {
    color: #8CABBE;
    font-size: large;
    background-color: #ffffff;
    border: 5px solid #832161;
    padding: 50px;
    padding-top: 25px;
    text-align: left;
    border-radius: 20px;
    margin: 60px;
    margin-top: 20px;
}

.find mig {
    display: block;
    font-size: 20px;
}

.social-link {
    width: 60px;
    height: 60px;
    margin-top: 20px;
}

.copyright {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #8CABBE;
}